<!DOCTYPE html>
<html class = "i">
    <head>
        <title>Airplane Encyclopedia</title>
        <link rel="stylesheet" href="../static/main.css">
    </head>
    <body>
        <div class="main">
            <h1 class = "title">Airplanes</h1>
            <div class=A1>
                <a href="B737.html"><button class = "b" style="position:absolute; left:30px; top:75px;">B737</button></a>
                <img src="../static/B737.jpg" alt="B737" style="position:absolute; left:30px; top:120px;" width=300px height=200px>
            </div>
            <div class=A2>
                <a href="B747.html"><button class = "b" style="position:absolute; left:350px; top:75px;">B747</button></a>
                <img src="../static/b747.jpg" alt="B747" style="position:absolute; left:350px; top:120px;" width=300px height=200px>
            </div>
        </div>
    </body>
</html>